__pycache__/
.idea/
.settings/
*.iml
.vscode/
env/
assets/data

# Personal Files
preload_image.jpg
test.mp4
resources/routines/windbreaker/
assets/video
javier.env
assets/bot detector
test_record.mp4
